@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  scroll-behavior: smooth;
  scroll-margin-right: 2px;
  margin:0; padding:0;
  box-sizing: border-box;
}
:root{
  --orange:#ffa500;
}



*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}
.banner{
  position: relative;
  padding-top: 50%;
  height: 720px;
  width: 100%;
}
.banner-content{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.banner-content img{
  width: 100%;
  height: 700px;
  object-fit:cover;
}
.navbar{
  padding: 8px 0;
}
.nav1{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.nav-title{
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'Baloo Chettan', cursive;
  text-transform: uppercase;
  color: aliceblue;
}
.nav-title:hover{
  color: aliceblue;
}
.nav-title--f{
  color: #ffa500;
}
.nav-item{
  margin: 0 10px !important;
}
.nav-item,.nav-link{
  font-size: 16px;
  color: aliceblue;
  font-weight: 600;
  transition: all .3s;
}
.actives{
  color: #ffa500;
}
.nav-item:hover .nav-link{
  color: #ffa500;
  transform: translateY(-4px);
}
.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  padding: 15px 45px;
  background-color: transparent;
  border: 1px solid #ffa500;
  cursor: pointer;
  border-radius: 18px;
  color: aliceblue;
  transition: all .3s;
}
.nav-btn:hover{
  color: #ffa500;
  border: 1px solid #474d56;
  background-color: aliceblue;
}


.heading{
  text-align: center;
  margin-bottom: 64px;
}

.heading span{
  font-size: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}
/* tour */
header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:orange;
}
header .logo span span{
  color:orange;
}


header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:orange;
}

header .icons a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .icons a:hover{
  color:orange;
}
header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 0rem;
}


#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h2{
  font-size: 5.8rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}
.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}
.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

-------------------------------------------------------------------------------------------------------


.packages .container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .container .row{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  /*box-shadow: 0 1rem 2rem rgba(0,0,0,.1);*/
  padding-bottom: 2%;
}

.packages .container .row .col-sm{
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10% ;
  border: 2px solid orange;
  margin-right: 1cm;
  padding: 0.5%;
}

.packages .container .col-sm img{
  height: 25rem;
  width:100%;
  object-fit: cover; /* Để ảnh trong cột dạng cover và fit với cột*/
  filter: drop-shadow(0 0 2px rgb(72, 62, 62));
}

.packages .container .col-sm .content{
  padding:2rem;
}

.packages .container .col-sm .content h3{
  font-size:2rem;
  color:#333;
  font-weight: bold;
}

.packages .container .col-sm .content h3 i{
  color:var(--orange);
}

.packages .container .col-sm .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
  text-transform: none;
}

.packages .container .col-sm .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .container .col-sm .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .container .col-sm .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.packages .container .col-sm:hover{
   box-shadow:  0 3rem 2rem #FFE4B5;
}

.btn{
  display: inline-block;
  margin-top: 2rem;
  background:var(--orange);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 7px;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange); /*root đặt màu orange là biến nên phần tử này là biến tái sử dụng màu cam*/ 
}
--------------------------------------------------------------------

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#giftButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: #e57f11;
  color: #fff;
  cursor: pointer;
}

#popupContainer {
  display: none; /*tạm ẩn cho đến khi nhấp vào nút nhận quà*/
  position: fixed; /*giữ nguyên vị trí kể cả khi cuộn trang*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*căn chính giữa màn hình*/
  text-align: center;
  z-index: 2; /*hiển thị chồng lên 2 lớp so với các ptu khác (backgr và div)*/
  margin-top: 40px;
}

#giftButton:hover{
  background:rgba(8, 155, 106, 0.878);
  color:rgb(244, 244, 155); /*root đặt màu orange là biến nên phần tử này là biến tái sử dụng màu cam*/
}

#popupImage {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 10px;
}

#closeButton {
  background-color: #e6a637;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
--------------------------------------------------------------------


/* media queries  */



.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card:hover {
  height: 400px;
  cursor: pointer;
}

.img-box {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .card-body {
  top: 130px;
  height: 250px;
}

.card-body h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr);
  margin-bottom: 11px;
}

.card-body p {
  color: #333;
  font-size: 1.7rem;
}

.card-body a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}

.card-body a:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .container .card {
      width: 230px;
      border-radius: 15px;
  }

  .container .card .img-box {
      width: 185px;
      border-radius: 10px;
  }

  .container .card .content p {
      font-size: 0.8rem;
  }

  .container .card .content a {
      font-size: 0.9rem;
  }
}
/* contatc */
.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
  outline: none;
  border: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}
/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}



/* Custom styles */
.col-content h5 {
  color: #ffc107;
  font-size: 1.8rem;
}

.col-content p,a {
  color: #ccc;
  font-size: 1.4rem;

}


.col-content a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.col-content a:hover {
  color: #ffc107;
}

.copyright {
  color: #ccc;
  font-size: 14px;
  margin-top: 20px;
}
